@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
}
span,
div,





/* Background animation */
:root {
  --color-bg23: rgb(255, 246, 168);
  --color-bg1: rgb(46, 44, 48);
  --color-bg2: rgb(0, 17, 82);
  --color-bg3: rgb(214, 146, 94);
  --color1: 16, 108, 169;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 255, 246, 168;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 30%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveDiagonal {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    rotate: 0;
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    rotate: 90deg;
    transform: translateX(50%) translateY(10%);
  }
  100% {
    rotate: 0;
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes move1 {
  0% {
    rotate: 0;
    transform: translate(0, 0);
  }
  50% {
    rotate: 20deg;
    transform: translate(-50%, 800px);
  }
  100% {
    rotate: 0;
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    rotate: 0;
    transform: translate(0, 0);
  }
  50% {
    rotate: 560deg;
    transform: translate(0, 700px);
  }
  100% {
    rotate: 0;
    transform: translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    rotate: 0;
    transform: translate(0, 0);
  }
  50% {
    rotate: 560deg;
    transform: translate(300px, 100px);
  }
  100% {
    rotate: 0;
    transform: translate(0, 0);
  }
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: rgb(16, 16, 18);
  max-width: none;
}
.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -100;

  background: linear-gradient(
    5deg,
    rgba(62, 78, 255, 0.13497899159663862) 0%,
    rgba(255, 248, 98, 0.09576330532212884) 22%,
    rgba(174, 250, 183, 0.19940476190476186) 44%,
    rgba(107, 137, 255, 0.19380252100840334) 68%,
    rgba(87, 250, 234, 0.1825980392156863) 85%,
    rgba(255, 69, 69, 0.09016106442577032) 100%
  );
  svg {
    display: none;
  }

  .gradients-container {
    z-index: -100;
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(rgba(var(--color1), 0.8) 50%, transparent)
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 800px;
    height: 900px;
    top: 1;
    left: 90%;

    transform-origin: center;
    animation: move1 10s ease infinite;

    opacity: 0.4;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 40%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 40%;
    top: 30%;
    left: calc(5% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 15s reverse infinite;

    opacity: 0.3;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 40%;
    height: 35%;
    top: calc(35% - var(--circle-size) / 2 + 200px);
    left: calc(30% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(300px);
    animation: moveInCircle 22s linear infinite;

    opacity: 0.5;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.7) 0,
        rgba(var(--color4), 0) 40%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 55%;
    height: 40%;
    top: calc(37% - var(--circle-size) / 2);
    left: calc(20% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 30s ease infinite;

    opacity: 0.4;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.7) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 30%;
    top: calc(67% - var(--circle-size));
    left: calc(28% - var(--circle-size));

    transform-origin: 200px;
    animation: move2 30s ease infinite;

    opacity: 0.5;
  }
  .g6 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(10% - var(--circle-size));
    left: calc(70% - var(--circle-size));

    transform-origin: calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 0.5;
  }
  .g7 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.5);
    height: calc(var(--circle-size) * 1.5);
    top: calc(15% - var(--circle-size));
    left: calc(85% - var(--circle-size));

    transform-origin: calc(50% + 200px);
    animation: moveHorizontal 20s ease infinite;

    opacity: 0.6;
  }
  .g8 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.7) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 30%;
    bottom: -12%;
    left: -25%;

    transform-origin: calc(50% + 200px);
    animation: moveInCircle 30s ease reverse infinite;

    opacity: 0.6;
  }
  .g9 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.7) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 30%;
    bottom: -10%;
    left: -10%;

    transform-origin: 450px;
    animation: moveHorizontal 20s reverse ease infinite;

    opacity: 0.5;
  }
  .g10 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.7) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 30%;
    bottom: -7%;
    left: -10%;

    transform-origin: 450px;
    animation: moveHorizontal 24s reverse ease infinite;

    opacity: 0.5;
  }

  .g11 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.7) 0,
        rgba(var(--color4), 0) 35%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 25%;
    height: 28%;
    bottom: -600px;
    left: -12%;

    transform-origin: 450px;
    animation: move3 36s ease infinite;

    opacity: 0.4;
  }
}
